<div class="ncr-header" ng-controller="headerCtrl">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td ng-if="!backButtonHide" class="settings" ng-click="goBack()">
                <div class="header-fish"><img src="images/header-fish.png" alt=""></div>
            </td>
            <td ng-if="backButtonHide" class="settings"></td>

            <td align="right" class="title">
                <div class="header-tag" ng-click="userRecentItems()"><img src="images/header-history.png" alt=""></div>
                <div class="header-tag" ng-click="userBookItems()">
                    <div class="msg">!</div>
                </div>
                <div><img src="images/header-tag.png" alt=""></div>
            </td>
            <td align="right" class="settings" ng-click="openSearch()" ng-if="!is_search">
                <img src="images/ico-magnify.png" alt="">
            </td>

            <td align="right" class="settings" ng-if="is_search">
                <div class="header-magnify">
                    <img src="images/ico-magnify.png" alt="">
                </div>
            </td>

        </tr>
    </table>
</div>

