<div class="ncr-header" ng-controller="headerCtrl">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="settings" ng-click="goBack()"><div class="header-fish"> <img src="images/header-fish.png" alt=""> </div></td>
            <td align="right" class="title">
                <div class="header-tag"><img src="images/header-history.png" alt=""></div>
                <div class="header-tag"><img src="images/header-tag.png" alt=""></div>
            </td>
            <td align="right" class="settings" ng-click="openSearch()"><img src="images/ico-magnify.png" alt=""></td>
        </tr>
    </table>
</div>

