<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>

    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account connect-accounts">

        <div class="heading">Connect Accounts</div>
        <div class="row-account" ng-repeat="account in social" ng-class="{'selected':account.is_connected}">
            <div class="l">
                <div class="connected-as">Connected as {{account.name}}</div>
                <div class="account">
                    <img ng-src="{{account.imgUrl}}" alt="">{{account.Profilename}}
                </div>

                <div class="post-activity" ng-click="check(account)">Post activity to my timeline
                    <div class="chkbox" ng-class="{'checked':account.post_activity}"></div>
                </div>
            </div>

            <div class="r" ng-swipe-right="disConnect(account)" ng-if="account.is_connected">Swipe to disconnect</div>
            <div class="r" ng-click="connect(account)" ng-if="!account.is_connected">Tap to add account</div>
        </div>

    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>
