<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>

    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account connect-accounts">

        <div class="heading">Connect Accounts</div>
        <div class="row-account selected">
            <div class="l">Facebook
                <div class="connected-as">Connected as</div>
                <div class="account"><img src="images/user-photo.jpg" alt="">Frank Johnsson</div>
                <div class="post-activity">Post activity to my timeline
                    <div class="chkbox checked"></div>
                </div>
            </div>
            <div class="r">Swipe to disconnect</div>

        </div>


        <div class="row-account">
            <div class="l">Twitter
                <div class="connected-as">Connected as</div>
                <div class="account"></div>
                <div class="post-activity">Post activity to my timeline
                    <div class="chkbox"></div>
                </div>
            </div>
            <div class="r">Tap to add account</div>

        </div>


    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>
</body>
</html>
