<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>

    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account contact-us">

        <div class="heading">Contact us</div>
        <div class="txt-small"><p>If you'd like to get in touch with the develops of HotFishin please use one of these
            methods:</p>

            <p>Call us: <a ng-click="callSupport()" stop-event='click'>0800 000 000</a> during regular office hours</p>

            <p>Email: <a ng-click="openEmail()" stop-event='click'>info@hotfishin.com</a></p>

            <p><img src="images/ico-fb-blue.png" alt="" ng-click="openFb()" stop-event='click'> Connect with us on
                facebook</p>
        </div>

        <div class="form">
            <div class="fld select">
                <select name="select" ng-options="obj.type for obj in options track by obj.id" ng-model="feedBackType">
                </select>
            </div>
            <div class="fld">
                <textarea name="textarea" id="textarea" cols="45" rows="5" ng-model="info"></textarea>
            </div>
        </div>


    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>
