<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>

    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account contact-us">

        <div class="heading">Contact us</div>
        <div class="txt-small"><p>If you'd like to get in touch with the develops of HotFishin please use one of these
            methods:</p>

            <p>Call us: <a>0800 000 000</a> during regular office hours</p>

            <p>Email: <a href="mailto:info@hotfishin.com">info@hotfishin.com</a></p>

            <p><img src="images/ico-fb-blue.png" alt=""> Connect with us on facebook</p>
        </div>

        <div class="form">
            <div class="fld select">
                <select name="select" id="select">
                    <option>I am contacting you about...</option>
                    <option>App generally</option>
                    <option>Lakes pages</option>
                    <option>Search functions</option>
                    <option>Home page</option>
                    <option>Font size</option>
                    <option>Payment system</option>
                    <option>Login system</option>
                    <option>Bookmarks</option>
                    <option>I want to suggest a new feature</option>
                    <option>I want to suggest a new lake</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="fld">
                <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
            </div>
        </div>


    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>
