<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>
    <!-------------- ncr-content start-------------------->
    <div class="ncr-content detail scroll">
        <div class="booking">
            <h4 class="your-ticket">Ticket No :{{ticket.ticket_no}}</h4>

            <div class="part-one">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="hdng">Vanue</td>
                        <td class="contnt">{{ticket.vanue_name}}
                        </td>
                    </tr>
                    <tr>
                        <td class="hdng">Ticket</td>
                        <td class="contnt">
                            <span ng-repeat="price in ticket.price_name">{{price.price_name}}&nbsp;{{price.qty}}<span
                                    ng-if="$index < ticket.price_name.length-1">,&nbsp;</span></span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="hdng">Date</td>
                        <td class="contnt">{{ticket.date}}
                        </td>
                    </tr>
                    <tr>
                        <td class="hdng">Price</td>
                        <td class="contnt">£{{ticket.price}}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <!-------------- ncr-content end-------------------->

    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>
</div>
