<div class="page">
<div class="pop-screen-overlay" ng-click="hideRightPanel()" ng-show="rightPanel"></div>
<div class="pop-filter rating" ng-class="{'pop-animate': rightPanel}">
    <div class="inner-content ">
        <div ng-hide="showAddReview">
            <div class="heading">
                <label>Write a review of
                    {{lakeDetail.lake_category.leke_name}}</label>
            </div>
            <div class="stars">
                How many stars would you give this lake?
                <div star-rating rating-value="rating" max="5" on-rating-selected="rateFunction(rating)">
                </div>
                <div class="your-rating">Your Rating
                    <div class="rate">{{rating}} / 5</div>
                    <div class="offer">20% of the people who rated this lake gave it 4 or more stars.</div>
                    <div class="share">Share with
                        <img ng-repeat="item in socialList" ng-src="{{item.url}}" ng-click="toggleSocial(item)">
                    </div>
                </div>
            </div>
            <div class="btn-add-review" ng-click="addReview()">
                <img src="images/star-gray.png" alt="">
                Add my Rating
            </div>
            <div class="txt">
                If you have few minutes,consider writing a review to help other visitors choose the best lakes.
            </div>
        </div>

        <div class="write-review" ng-show="showAddReview"><label>Write your review for others to read</label>

            <div class="fld-review">
                <textarea ng-model="reviewData"></textarea>
            </div>

            <div class="anonymous">
                <div class="chk-box" ng-class="{'checked':check}" ng-click="chengeCheck()"></div>
                <div class="txt">
                    <h3>Post as Anonymous</h3>
                    Your review will show your name as registered on your account unless you tick this box.
                </div>
            </div>
            <div class="share">Share with
                <img ng-repeat="item in socialList" ng-src="{{item.url}}" ng-click="toggleSocial(item)">
            </div>
        </div>
        <div class="btn-add-review" ng-click="addReview()">
            <img src="images/ico-write.png" alt="">
            Add my review
        </div>

    </div>
</div>
<!-------------- ncr-header -------------------->
<ng-include src="'templates/header.html'"></ng-include>
<div class="ncr-heading" align="center" ng-click="showOwner(lakeDetail.lake_category.id)">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>&nbsp;</td>

            <td align="center" ng-if="lakeId!='owner' ">Your Lake? Claim it!</td>

            <td align="center" ng-if="lakeId=='owner' ">Edit your lake details</td>

            <td align="right">&nbsp;</td>
        </tr>
    </table>
</div>

<!-------------- ncr-content start-------------------->
<div class="ncr-content detail heading-space no-footer">
<div class="detail-img">
<img src="images/listing_img1.jpg" alt="">

<div class="img-content">
    <div class="left-content">
        <div class="name">{{lakeDetail.lake_category.leke_name}}</div>
        {{lakeDetail.lake_category.town }}<br>
        <a href="#/review/{{lakeDetail.lake_category.id}}" class="reviews">{{lakeDetail.lake_category.total_review}}
            Reviews</a>

        <p>Day tickets from</p>

        <div class="price">£6</div>
    </div>
    <div class="right-content">
        <div class="votes">{{lakeDetail.lake_category.rating}}<br>

            <p>{{lakeDetail.lake_category.total_vote}}<br>
                Votes</p>
        </div>
        <div class="bookmark" ng-click="bookmark()">
            <img alt="" src="images/ico-tag.png" ng-show="!lakeDetail.lake_category.fav_id">
            <img alt="" src="images/header-tag-marked.png" ng-show="lakeDetail.lake_category.fav_id">
            Bookmark
        </div>
    </div>
</div>

<div class="img-bottomcontent">
    <div class="part-one">
        <ul>
            <li ng-click="showCheckIn()"><img src="images/ico-checkin.png" alt=""><br>
                <span>Check in</span>
            </li>
            <li ng-click="showDirection()"><img src="images/ico-direction.png" alt=""><br>
                <span>Directions</span>
            </li>
            <li ng-click="showRate()"><img src="images/ico-rate.png" alt=""><br>
                <span>Rate</span>
            </li>
            <li ng-click="showReview(lakeDetail.lake_category.id)"><img src="images/ico-review.png" alt=""><br>
                <span>Review</span>
            </li>
            <li ng-click="showShare()"><img src="images/ico-share.png" alt=""><br>
                <span>Share</span>
            </li>
        </ul>
    </div>
    <div class="part-two">
        <ul>
            <li>
                <span style="color:#128b91;">Address</span><br>
                {{lakeDetail.lake_category.address1}},{{lakeDetail.lake_category.address2}}<br>
                {{lakeDetail.lake_category.town}}<br>
                {{lakeDetail.lake_category.country}}
            </li>

            <li>
                <span style="color:#128b91;">Details</span><br>
                Course Fishing<br>
                Specimen Carp<br>
                5 Acre Lake <br>
                <span><img src="images/ico-wheel-chair.png" alt=""></span>
                <span><img src="images/ico-men-women.png" alt=""></span>
                <span><img src="images/ico-private.png" alt=""></span>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
    <div class="part-three map">
        <!-- <img src="images/detail-map.png" alt="">-->
        <div id="map-canvas"></div>
        <div class="map-content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><img src="images/ico-direction-arrow.png" alt=""></td>
                    <td>1.3km</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:0;">Directions</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="part-four">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(1)">
            <tr>
                <td><h1 class="one"><span>The Venue</span></h1></td>
                <td class="right-img">
                    <img ng-class="{'active-tab-img':isOpenTab(1),'deactive-tab-img':!isOpenTab(1)}" alt="">
                </td>
            </tr>
        </table>
        <div class="tab" ng-show="isOpenTab(1)">
            <div class="tabs">
                <ul>
                    <li ng-repeat="tab in tabs" ng-class="{active:isSet(tab)}" ng-click="setTab(tab)">
                        <img ng-src="{{tab.url}}">

                        <p>{{tab.name}}</p>
                    </li>
                </ul>
                <div class="clr"></div>
            </div>

            <div class="part-four" ng-show="tab == 1">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tr ng-repeat="amenities in lakeDetail.list_amenitites" id="{{amenities.id}}">
                    <td class="tick-img" ng-if="amenities.amenitites_id==''"><img alt=""
                                                                                      src="images/ico-cross-big.png">
                        </td>
                        <td class="tick-img" ng-if="amenities.amenitites_id!=''"><img alt="" src="images/tick.png"></td>
                        <td>{{amenities.name}}</td>
                    </tr>

                </table>
            </div>

            <div class="part-four" ng-show="tab == 2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr ng-repeat="rules in lakeDetail.list_rules" id="{{rules.id}}">
                    <td class="tick-img" ng-if="rules.rule_id==''"><img alt="" src="images/ico-cross-big.png"></td>
                        <td class="tick-img" ng-if="rules.rule_id!=''"><img alt="" src="images/tick.png"></td>
                        <td>{{rules.name}}</td>
                    </tr>
                </table>
            </div>

            <div class="part-four" ng-show="tab == 3">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr ng-repeat="spacies in lakeDetail.list_spacies" id="{{spacies.id}}">
                        <td class="tick-img" ng-if="spacies.fish_species_id==''"><img alt=""
                                                                                          src="images/ico-cross-big.png">
                            </td>
                            <td class="tick-img" ng-if="spacies.fish_species_id!=''"><img alt="" src="images/tick.png">
                            </td>
                            <td>{{spacies.name}}</td>
                        </tr>
                    </table>
                </table>
            </div>

        </div>
    </div>
    <div class="part-four">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(2)">
            <tr>
                <td><h1 class="one"><span>Prices</span></h1></td>
                <td class="right-img"><img ng-class="{'active-tab-img':isOpenTab(2),'deactive-tab-img':!isOpenTab(2)}">
                </td>
            </tr>
        </table>
        <div class="prices" ng-show="isOpenTab(2)">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>&nbsp;</th>
                    <th>Standard</th>
                </tr>
                <tr ng-repeat="price in lakeDetail.lake_pricing">
                <td align="right">{{price.description}}</td>
                    <td align="center">£&nbsp;{{price.price}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="part-four">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(3)">
            <tr>
                <td><h1 class="one"><span>Opening Times</span></h1></td>
                <td class="right-img"><img ng-class="{'active-tab-img':isOpenTab(3),'deactive-tab-img':!isOpenTab(3)}">
                </td>
            </tr>
        </table>

        <div class="times" ng-show="isOpenTab(3)">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th>&nbsp;</th>
                    <th>Opening</th>
                    <th>Closing</th>
                </tr>
                <tr ng-repeat="lake in lakeDetail.lake_timing">
                <td align="right">{{lake.day}}</td>
                    <td align="center">{{lake.opening_time}}</td>
                    <td align="center">{{lake.closing_time}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="part-four">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(4)">
            <tr>
                <td><h1 class="one"><span>Contact Details</span></h1></td>
                <td class="right-img"><img alt=""
                                           ng-class="{'active-tab-img':isOpenTab(4),'deactive-tab-img':!isOpenTab(4)}">
                </td>
            </tr>
        </table>
        <div class="contacts" ng-show="isOpenTab(4)">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="right">Lake Contact</td>
                    <td>{{lakeDetail.lake_category.contact_person}}</td>
                </tr>
                <tr>
                    <td align="right">Phone</td>
                    <td>{{lakeDetail.lake_category.contact_number}}</td>
                </tr>
                <tr>
                    <td align="right">Email</td>
                    <td>{{lakeDetail.lake_category.email}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>

<div class="img-bottomcontent">
    <div class="part-four">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(5)">
            <tr>
                <td><h1 class="one"><span>Reviews - {{lakeDetail.lake_category.total_review}} Available</span></h1></td>
                <td class="right-img"><img ng-class="{'active-tab-img':isOpenTab(5),'deactive-tab-img':!isOpenTab(5)}"
                                           alt=""></td>
            </tr>
        </table>
        <div class="collapsed-content" ng-show="isOpenTab(5)">
            <div class="row-review" ng-repeat="review in lakeDetail.lake_review">
            <div class="review">
                    <div class="reviewer">{{review.first_name}} {{review.last_name}}</div>
                    <div class="stars">
                        <img src="images/star-review.png" alt="">
                        <img src="images/star-review.png" alt="">
                        <img src="images/star-review.png" alt="">
                        <img src="images/star-off-review.png" alt="">
                        <img src="images/star-off-review.png" alt=""></div>
                    <div class="clr"></div>
                </div>
                <div class="comment">
                    {{review.review}}
                </div>
            </div>
            <div class="btn-rnw-review" ng-click="showReview(lakeDetail.lake_category.id)"><img
                    src="images/ico-morereview.png"> Read more reviews

            </div>
            <div class="btn-rnw-review war" ng-click="showRate()"><img src="images/ico-writereview.png" alt=""> Write a
                Review
            </div>
        </div>
    </div>
</div>
<!---
<div class="btn-rnw-review" ng-click="showReview()"><img src="images/ico-morereview.png"  alt=""> Read more reviews</div>
<div class="btn-rnw-review war"><img src="images/ico-writereview.png"  alt=""> Write a Review</div>
-->
<div class="img-bottomcontent">
    <div class="part-four">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(6)">
            <tr>
                <td><h1 class="one"><span>Photos - {{lakeDetail.lake_category.total_image}} Available</span></h1></td>
                <td class="right-img"><img ng-class="{'active-tab-img':isOpenTab(6),'deactive-tab-img':!isOpenTab(6)}"
                                           alt=""></td>
            </tr>
        </table>
        <div class="collapsed-content" ng-show="isOpenTab(6)">
            <div class="photos">
                <div class="thumb" ng-repeat="image in lakeDetail.lake_image"><img ng-src="{{image.url}}" alt=""></div>
            </div>
            <div class="btn-rnw-review" ng-click="showMorePhoto(lakeDetail.lake_category.id)"><img
                    src="images/ico-morereview.png"
                                                                                     alt=""> See more
                photos
            </div>
            <div class="btn-rnw-review" ng-click="uploadImg()"><img src="images/ico-upload.png" alt=""> Upload a photo
            </div>
        </div>
    </div>
</div>

<!--<div class="btn-rnw-review" ng-click="showMorePhoto()"><img src="images/ico-morereview.png"  alt=""> See more photos</div>
<div class="btn-rnw-review"><img src="images/ico-upload.png"  alt=""> Upload a photo</div>-->

<div class="img-bottomcontent">
    <div class="part-four" ng-click="openTab(7)">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><h1 class="one"><span>Other Lakes at this Venue</span></h1></td>
                <td class="right-img"><img ng-class="{'active-tab-img':isOpenTab(7),'deactive-tab-img':!isOpenTab(7)}"
                                           alt=""></td>
            </tr>
        </table>

        <div class="collapsed-content" ng-show="isOpenTab(7)">

            <div class="row-venue" ng-repeat="row in lakeDetail.other_lake" stop-event='click'
                 ng-click="showLakeDetail(row.id)">
            <div class="vote"><strong>{{row.rate}}</strong>

                    <div class="no">{{row.total_vote}} Votes</div>
                </div>
                {{row.leke_name}}
                <div class="arrow"></div>
                <div class="clr"></div>
            </div>

        </div>
    </div>
</div>


<div class="img-bottomcontent">
    <div class="part-four">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(8)">
            <tr>
                <td><h1 class="one"><span>Ask a question</span></h1></td>
                <td class="right-img"><img ng-class="{'active-tab-img':isOpenTab(8),'deactive-tab-img':!isOpenTab(8)}">
                </td>
            </tr>
        </table>
        <div class="collapsed-content" ng-show="isOpenTab(8)">
            <div class="question">
                <textarea name="textarea" id="textarea" rows="5" ng-model="askquestion"></textarea>
            </div>
            <div class="send-question-btn" ng-click="postFaq()"><img src="images/ico-question.png" alt="">Send my
                question
            </div>
        </div>
    </div>
</div>
<!--<div class="send-question-btn"><img src="images/ico-question.png"  alt="">Send my question</div>-->
</div>


</div>
<!-------------- ncr-content end-------------------->


<!-------------- ncr-footer -------------------->
<ng-include src="'templates/footer.html'"></ng-include>

</div>