<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>

    <!-------------- ncr-content start-------------------->
    <div class="ncr-content  no-footer lakes bookmark">


        <!-------------- list -------------------->
        <div class="list-bookmark">
            <div class="heading">My Bookmarks</div>

            <div class="row-list" ng-repeat="lake in lackList">
                <div class="visit-lake" ng-click="linkBookMark(lake)">
                    <div class="delete" ng-click="$event.stopPropagation();deleteBookmark(lake);">Delete this bookmark
                    </div>
                    Visit this fishing site
                </div>
                <img class="loader" image-source="{{lake.profile_pic}}" image-placeholder="images/ajax-loader.gif"
                     alt="" imageonload>

                <div class="info">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" class="left-content">
                                <div class="name">{{lake.lake_name}}</div>
                                {{lake.town}}
                            </td>
                            <td align="right">
                                <div class="rating">

                                    <div class="outernumber">
                                        <div class="innernumber">{{lake.rating}}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="bottominfo select">
                    <div class="content">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left">{{lake.name}}<br/>
                                    €{{lake.price}} Day Ticket<br/>
                                    {{lake.total_review}} Reviews - {{lake.total_image}} photos<br/>
                                </td>
                                <td align="right">{{lake.distance | number:0}} miles</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="btn-booking" ng-click="goBooking(lake)">Make a booking at this site now</div>
            </div>
            <div class="no-data" ng-if="lackList.length<1"> No Bookmark Found.</div>
        </div>

    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>