<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>
    <!-------------- ncr-content start-------------------->
    <div class="ncr-content reviews">
        <div class="review-heading" align="center">
            Himley Hall Top Pool

        </div>
        <div class="part-four" ng-repeat="reviewitem in review">
            <div class="row-review">
                <div class="review">
                    <div class="reviewer">{{reviewitem.first_name}} {{reviewitem.last_name}}</div>
                    <div class="stars">
                        <img alt="" src="images/star-review.png">
                        <img alt="" src="images/star-review.png">
                        <img alt="" src="images/star-review.png">
                        <img alt="" src="images/star-off-review.png">
                        <img alt="" src="images/star-off-review.png">
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="comment">
                    {{reviewitem.review}}
                </div>
            </div>
        </div>
    </div>
    <!-------------- ncr-content end-------------------->

    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>