<div class="page">
<div class="pop-screen-overlay"></div>
<div class="pop-filter">
<div class="inner-content"> 
    <!--<div class="sub-heading">Locations & Travels</div>
    <ul>
      <li><img src="images/ico-travels.png"   alt="">Travels <div class="drop-arrow"></div></li>
    </ul>-->
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
         	<th class="border-bottom">Fish Species</th>
         	<th colspan="2" class="small-txt border-bottom">Normal /Specimine</th>
         </tr>
         <tr>
         	<td class="border-bottom">All</td>
         	<td class="small-txt border-bottom"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt border-bottom"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Carp</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Roach</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Tench</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Rudd</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Ruffe</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Gudgeon</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Bleak</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Chub</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Barbel</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Bream</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Rainbow Trout</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Brown Trout</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Golden Orf</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Perch</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Koi</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Catfish</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Pike</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Zander</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Dace</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>
         <tr>
         	<td>Eel</td>
         	<td class="small-txt"><img src="images/ico-cross.png" alt=""></td>
         	<td class="small-txt"><img src="images/tick.png" alt=""></td>
         </tr>

     </table>
   
    
    
</div>    
</div>
<div class="ncr-header">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="settings"><div class="header-fish"> <img src="images/header-fish.png" alt=""> </div></td>
        <td align="right" class="title">
          <div class="header-tag"><img src="images/header-history.png" alt=""></div>
          <div class="header-tag"><img src="images/header-tag.png" alt=""></div>
        </td>
        <td align="right" class="settings"><img src="images/ico-magnify.png" alt=""></td>
      </tr>
    </table>
  </div>

    


<div class="ncr-content no-footer listing">

    <div class="tabs">
        <ul>
            <li ng-repeat="tab in tabs" ng-click="toggle(tab.id)"  ng-class="{'active':tab.state}"> <img ng-src="{{tab.active}}">
                <p>{{tab.name}}</p>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
    
    <div class="searchlisting-outercontent">
    	<div class="searchlisting-innercontent">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr>
                	<td align="left" class="left-content"><img src="images/search-pin.png" alt=""></td>
                	<td><h2>Current Location</h2></td>
                	<td align="right"><img src="images/search-cross.png" alt=""></td>
                </tr>
            </table>	
        </div>
        
        
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr class="row">
                    <td class="left-content"><img src="images/ico-fish.png" alt=""> </td>
                    <td class="right-content">Fish Species</td>
            	</tr>
				<tr class="row accessibility">
                    <td class="left-content"><img src="images/ico-accessibility.png" alt=""> </td>
                    <td class="right-content">Accessibility</td>
            	</tr>
				<tr class="row">
                    <td class="left-content"><img src="images/ico-ts.png" alt=""> </td>
                    <td class="right-content">Fishing Rules</td>
            	</tr>
			</table>
        
    </div>
</div>
</div>