<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>
    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account send-feedback">

        <div class="heading">Send Feedback</div>
        <div class="txt-small">Your opinion matters to us, please let us know what you think of HotFishin!</div>

        <div class="form">
            <div class="fld select">
                <select name="select" id="select">
                    <option>I am sending you feedback about...</option>
                    <option>App generally</option>
                    <option>Lakes pages</option>
                    <option>Search functions</option>
                    <option>Home page</option>
                    <option>Font size</option>
                    <option>Payment system</option>
                    <option>Login system</option>
                    <option>Bookmarks</option>
                    <option>I want to suggest a new feature</option>
                    <option>I want to suggest a new lake</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="fld">
                <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
            </div>
        </div>


    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>

