<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>
    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account send-feedback">

        <div class="heading">Send Feedback</div>
        <div class="txt-small">Your opinion matters to us, please let us know what you think of HotFishin!</div>

        <div class="form">
            <div class="fld select">
                <select name="select" ng-options="obj.type for obj in options track by obj.id" ng-model="feedBackType">
                </select>
            </div>
            <div class="fld">
                <textarea name="textarea" id="textarea" cols="45" rows="5" ng-model="feedback"></textarea>
            </div>
        </div>


    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>

