<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>

    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account suggest-location">

        <div class="heading" align="center">Suggest a location</div>
        <div class="txt-small" align="center">I think this site should be on HotFishin</strong></strong>
        </div>

        <div class="form">
            <div class="fld">
                <div class="icon"></div>
                <input type="text" value="Current Location"/>

                <div class="cross"><img src="images/search-cross.png" alt=""></div>
            </div>

            <div class="fld">
                The name of this location is...
                <div class="cross"><img src="images/search-cross.png" alt=""></div>
            </div>


            <div class="btn-upload"><img src="images/ico-upload.png" alt="">Attach a photo</div>


            <div class="share-with">Share with <img src="images/ico-twitter.png" alt=""> <img src="images/ico-fb.png"
                                                                                              alt=""></div>
            <div class="map">
                <div class="pointer"></div>
                <img src="images/detail-map.png" alt=""></div>


        </div>


    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>

