<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>

    <!-------------- ncr-content start-------------------->
    <div class="ncr-content   connect-account suggest-location">

        <div class="heading" align="center">Suggest a location</div>
        <div class="txt-small" align="center">I think this site should be on HotFishin</strong></strong>
        </div>

        <div class="form">
            <div class="fld">
                <div class="icon"></div>
                <input type="text" ng-model="address" id="pac-input" class="controls" placeholder="Current Location"/>

                <div class="cross" ng-click="resetAddress()"><img src="images/search-cross.png" alt=""></div>
            </div>

            <div class="fld">
                <input type="text" ng-model="locationName" placeholder="Name of the Lake"/>

                <div class="cross" ng-click="locationName=''"><img src="images/search-cross.png" alt=""></div>
            </div>


            <div class="btn-upload" ng-click="uploadImage()"><img src="images/ico-upload.png" alt="">Attach a photo
            </div>


            <div class="share-with">Share with <img ng-repeat="item in socialList" ng-src="{{item.url}}"
                                                    ng-click="toggleSocial(item)"></div>
            <div class="map">

                <div class="pointer">

                </div>
                <div id="map_canvas"></div>
            </div>


        </div>


    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>

</div>

