<div class="page">
    <!-------------- ncr-header -------------------->
    <ng-include src="'templates/header.html'"></ng-include>
    <!-------------- ncr-content start-------------------->
    <div class="ncr-content tagimg">
        <div class="checkin-heading" align="center">
            Publish
        </div>

        <div class="attach-photo" ng-click="uploadImage()"><img src="images/ico-upload.png" alt="">Attach a photo</div>
        <div class="checked-in">
            <img ng-src="{{imageURI}}" alt="">
        </div>

        <div class="form">
            <div class="note">Tag a Lake</div>
            <div class="row">
                <angucomplete id="ex1" placeholder="Search Lakes" pause="100" selectedobject="selectedCountry"
                              localdata="lackList" searchfields="lake_name" titlefield="lake_name" minlength="1"
                              inputclass="form-control form-control-small" matchclass="highlight"/>
            </div>
        </div>
        <div class="share-with">Share with <img ng-repeat="item in socialList" ng-src="{{item.url}}"
                                                ng-click="toggleSocial(item)"></div>
    </div>
    <!-------------- ncr-content end-------------------->


    <!-------------- ncr-footer -------------------->
    <ng-include src="'templates/footer.html'"></ng-include>
</div>