<div class="page">
<!-------------- ncr-header -------------------->
<ng-include src="'templates/header.html'"></ng-include>
<!-------------- ncr-content start-------------------->
<div class="ncr-content detail">
    <div class="booking"><h4 class="your-ticket">This is your ticket for:</h4>

        <div class="part-one">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="hdng">Location</td>
                    <td class="contnt">{{lakeDetail.lake_category.address1}}<br>{{lakeDetail.lake_category.town}},
                        {{lakeDetail.lake_category.country}}
                    </td>
                </tr>
                <tr>
                    <td class="hdng">Ticket</td>
                    <td class="contnt">{{currentBooking.bookingObj.ticket}}
                    </td>
                </tr>
                <tr>
                    <td class="hdng">Date</td>
                    <td class="contnt">{{currentBooking.bookingObj.date}}
                    </td>
                </tr>
                <tr>
                    <td class="hdng">Price</td>
                    <td class="contnt">£{{currentBooking.bookingObj.totalPrice}}
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="detail-img">


        <div class="img-bottomcontent">


            <div class="your-utr">Your UTR is: <h5>{{currentBooking.ticket_no.ticket_no}}</h5></div>
            <div class="back-to-app"><a ng-click="backHome()">Back to the app </a> <a ng-click="rateApp()"> Rate in
                the app
                store</a></div>
            <div class="part-three map">

                <div id="map-canvas"></div>

                <div class="map-content">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td ng-click="showDirection()">
                                <img src="images/ico-direction-arrow.png" alt="">
                            </td>
                            <td>{{lakeDetail.distance.distance}}km</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding:0;">Directions</td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="tabs">
                <ul>
                    <li ng-repeat="tab in tabs" ng-class="{active:isSet(tab)}" ng-click="setTab(tab)">
                        <img ng-src="{{tab.url}}">

                        <p>{{tab.name}}</p>
                    </li>
                </ul>
                <div class="clr"></div>
            </div>

            <div class="part-four" ng-show="tab == 1">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tr ng-repeat="amenities in lakeDetail.list_amenitites" id="{{amenities.id}}">
                        <td class="tick-img" ng-if="amenities.amenitites_id==''"><img alt=""
                                                                                      src="images/ico-cross-big.png">
                        </td>
                        <td class="tick-img" ng-if="amenities.amenitites_id!=''"><img alt="" src="images/tick.png">
                        </td>
                        <td>{{amenities.name}}</td>
                    </tr>

                </table>
            </div>

            <div class="part-four" ng-show="tab == 2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr ng-repeat="rules in lakeDetail.list_rules" id="{{rules.id}}">
                        <td class="tick-img" ng-if="rules.rule_id==''"><img alt="" src="images/ico-cross-big.png">
                        </td>
                        <td class="tick-img" ng-if="rules.rule_id!=''"><img alt="" src="images/tick.png"></td>
                        <td>{{rules.name}}</td>
                    </tr>
                </table>
            </div>

            <div class="part-four">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(2)">
                    <tr>
                        <td><h1 class="one"><span>Prices</span></h1></td>
                        <td class="right-img"><img
                                ng-class="{'active-tab-img':isOpenTab(2),'deactive-tab-img':!isOpenTab(2)}"></td>
                    </tr>
                </table>
                <div class="prices" ng-show="isOpenTab(2)">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Standard</th>
                        </tr>
                        <tr ng-repeat="price in lakeDetail.lake_pricing">
                            <td align="right">{{price.description}}</td>
                            <td align="center">£&nbsp;{{price.price}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="part-four">

                <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(3)">
                    <tr>
                        <td><h1 class="one"><span>Opening Times</span></h1></td>
                        <td class="right-img"><img
                                ng-class="{'active-tab-img':isOpenTab(3),'deactive-tab-img':!isOpenTab(3)}"></td>
                    </tr>
                </table>

                <div class="times" ng-show="isOpenTab(3)">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Opening</th>
                            <th>Closing</th>
                        </tr>
                        <tr ng-repeat="lake in lakeDetail.lake_timing">
                            <td align="right">{{lake.day}}</td>
                            <td align="center">{{lake.opening_time}}</td>
                            <td align="center">{{lake.closing_time}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="part-four">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(4)">
                    <tr>
                        <td><h1 class="one"><span>Contact Details</span></h1></td>
                        <td class="right-img"><img alt=""
                                                   ng-class="{'active-tab-img':isOpenTab(4),'deactive-tab-img':!isOpenTab(4)}">
                        </td>
                    </tr>
                </table>

                <div class="contacts" ng-show="isOpenTab(4)">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="right">Lake Contact</td>
                            <td>{{lakeDetail.lake_category.contact_person}}</td>
                        </tr>
                        <tr>
                            <td align="right">Phone</td>
                            <td>{{lakeDetail.lake_category.contact_number}}</td>
                        </tr>
                        <tr>
                            <td align="right">Email</td>
                            <td>{{lakeDetail.lake_category.email}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <div class="img-bottomcontent">
            <div class="part-four">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" ng-click="openTab(5)">
                    <tr>
                        <td><h1 class="one"><span>Ask a question</span></h1></td>
                        <td class="right-img"><img
                                ng-class="{'active-tab-img':isOpenTab(5),'deactive-tab-img':!isOpenTab(5)}">
                        </td>
                    </tr>
                </table>
                <div class="collapsed-content" ng-show="isOpenTab(5)">
                    <div class="question">
                        <textarea name="textarea" id="textarea" rows="5" ng-model="askquestion"></textarea>
                    </div>
                    <div class="send-question-btn" ng-click="postFaq()"><img src="images/ico-question.png" alt="">Send
                        my
                        question
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-------------- ncr-content end-------------------->

<!-------------- ncr-footer -------------------->
<ng-include src="'templates/footer.html'"></ng-include>
</div>
